<div class="main-container">
    <header class="header">
        Completati Declaratia 230 {{SelectedOng?.denumire}} {{SelectedPers?.nume}}
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="true">
            <a clrVerticalNavLink routerLink="./ong" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
                <clr-tooltip *ngIf="existOng">
                    <clr-icon clrTooltipTrigger shape="check" size="24"></clr-icon>
                    <clr-tooltip-content clrPosition="bottom-right" clrSize="md" *clrIfOpen>
                        <span>{{SelectedOng?.denumire}}</span>
                    </clr-tooltip-content>
                </clr-tooltip>
                <clr-tooltip *ngIf="!existOng">
                    <clr-icon clrTooltipTrigger shape="unknown-status" size="24"></clr-icon>
                </clr-tooltip>
         
                Ong
            </a>
            <a clrVerticalNavLink routerLink="./pers" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
                <clr-tooltip *ngIf="IsCompletedPers">
                    <clr-icon clrTooltipTrigger shape="check" size="24"></clr-icon>
                    <clr-tooltip-content clrPosition="bottom-right" clrSize="md" *clrIfOpen>
                        <span>{{SelectedPers?.nume}}</span>
                    </clr-tooltip-content>
                </clr-tooltip>
                <clr-tooltip *ngIf="!IsCompletedPers">
                    <clr-icon clrTooltipTrigger shape="unknown-status" size="24"></clr-icon>
                </clr-tooltip>
     
                Persoana
            </a>
            <a clrVerticalNavLink routerLink="./pdfgen" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
                Declaratie
            </a>
            <a clrVerticalNavLink routerLink="./despre" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
                Despre
            </a>
            
        </clr-vertical-nav>
    </div>
</div>
<app-messages></app-messages>