<input type="text" size="100" type="text" [(ngModel)]="term" [disabled]="loading" />
<div>{{numberONG}}</div>
<br/>
<button class="btn btn-primary" (click)="findOng()" [disabled]="loading">Cauta ONG
    <clr-icon shape="search"></clr-icon>
</button>
de ex
<button (click)='findADCES()' class='btn btn-primary btn-link'>ADCES</button>

<span class="spinner spinner-inline" *ngIf="loading">
    Incarc date...
</span>



<div class="card" *ngIf="isSelectedOng">
    <div class="alert-item static">
        <span class="alert-text">
             ONG Selectat:
        </span>
    </div>
    <div class="card-header">
        {{SelectedOng.denumire}}
    </div>
    <div class="card-block">
        <div class="card-title">
            {{SelectedOng.registru}}
        </div>

    </div>

</div>


<div *ngFor="let ong of ongList;let i=index;">


    <div class="row">
        <div class="col-sm-12 col-md-12">


            <div class="card">
                <div class="card-header">
                    {{i+1}} {{ong.denumire}}
                </div>
                <div class="card-block">
                    <div class="card-title">
                        {{ong.registru}}
                    </div>
                    <div class="card-text">
                        <button class="btn btn-sm btn-link" (click)="findDetails(ong)">Detalii</button>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm" (click)="selecteaza(ong)">Selecteaza
                        <clr-icon shape="check-circle"></clr-icon>
                    </button>

                </div>

            </div>

            <clr-modal [(clrModalOpen)]="tabActive[ong.registru]">
                <h3 class="modal-title">Detalii pentru {{ong.denumire}}</h3>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header">
                            {{ong.denumire}}
                        </div>
                        <div class="card-block">
                            <div class="card-title">
                                {{ong.registru}}
                            </div>
                            <div class="card-text">
                                <table class="table table-compact">
                                    <thead>
                                        <tr>
                                            <th class="left">Nume</th>
                                            <th>Valoare</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let kv of ong.details">
                                            <tr>
                                                <td class="left">{{kv.key}}</td>
                                                <td> {{kv.value}}</td>

                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            ---
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-sm btn-link" (click)="closeTab(ong)">Inchide</button>
                </div>
            </clr-modal>


        </div>


    </div>



</div>


